<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
</head>
<body>
    <H3>Sign Up</H3>
    <form action="/" method="post">
        <input class="m-40" name ="user[email]" placeholder="email" type="email">
        <input name ="user[username]" placeholder="username" type="text">
        <input name ="user[password]" placeholder="password" type="password">
        <button>Sign UP</button>
    </form>
    <a href="/login">already have an account?Login</a>
</body>
</html>